.blog__content__box
  .blog__userName
    投稿者：
    = blog.user.nickname
  .blog__date
    投稿日時：
    = blog.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .blog__title
    title：
    = blog.title
  .blog__text
    blog本文：
    - if blog.blog.present?
      = blog.blog
  - if user_signed_in? && current_user.id == blog.user_id
    = link_to '編集', edit_blog_path(blog.id), method: :get
    = link_to '削除', blog_path(blog.id), method: :delete