.body
  %h2 新規登録
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource

    .field
      = f.label :nickname
      %em (6文字以内で入力)
      %br/
      = f.text_field :nickname, autofocus: true, maxlength: "6", class: "input__box"

    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "input__box"

    .field
      = f.label :password
      - if @minimum_password_length
        %em
          (#{@minimum_password_length}文字以上半角英数字)
      %br/
      = f.password_field :password, autocomplete: "new-password", class: "input__box"

    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password", class: "input__box"
      
    .actions
      = f.submit "Sign up"
  = render "devise/shared/links"
